*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(./money-2696219_640.jpg);
    background-size:cover;
    padding: 10px;
}

.salary-calc{
    width:100%;
    max-width: 540px ;
    background: #fff;
    margin: 100px auto ;
    padding: 40px 30px 40px;
    border-radius: 10px;
}

.salary-calc h2{
        font-size: 40px;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0 ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}


button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #4db96d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
ul li{
    font-size: 20px;
    padding: 12px 8px 8px 20px;
}

ul ul{
    font-size: 20px;
    padding-right:10px ;
    padding-bottom: 20px;
    padding-top: 10px;
}